.nav-sidebar {
    background-color: var(--mud-palette-drawer-background);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--maliev-border);
    border-radius: var(--maliev-radius-xs);
}

.auto-mode-icon ::deep svg path {
    fill: url(#auto-mode-gradient) !important;
}
